@model VoteChoiceModel
@{
    string personId = Model.personId;
}
@section Styles{
    <style>
         body{
          background: #84fab0;
  
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
      }
    </style>
}
<div class="mask d-flex align-items-center h-100 mx-auto">
    <div class="container h-100 mt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="card pb-3 mt-5" style="border-radius: 15px;width:50%">
              <table>
                  <thead>
                      <tr>
                          Are you sure about this candidate?
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                            <a asp-action="voteCandi" asp-route-personId="@personId" class="btn btn-success me-2">Vote</a>
                            <a asp-action="Index" class="btn btn-danger">Back</a>
                          </td>
                      </tr>
                  </tbody>
              </table>
            
          </div>
      </div>
    </div>
  </div>